fastapi
uvicorn
starlette

jinja2
python-multipart

pymongo[srv]
certifi

python-dotenv

passlib[bcrypt]
bcrypt==4.0.1

python-jose[cryptography]
cryptography

pandas
openpyxl
xlsxwriter

typing-extensions
itsdangerous

geopy